@model EFDBFirstApproach.Models.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Products", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row g-3">
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.ProductName)
            @Html.TextBoxFor(temp => temp.ProductName, new { @class = "form-control", placeholder = "Product Name" }) 
            @Html.ValidationMessageFor(temp => temp.ProductName)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.Price)
            @Html.TextBoxFor(temp => temp.Price, new { @class = "form-control", placeholder = "Price" })
            @Html.ValidationMessageFor(temp => temp.Price) 
        </div>
    </div>
    <div class="row g-3">
        @{
            string dop = "";
        }
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.DateOfPurchase)
            <input type="date" class="form-control" id="ProductName" name="DateOfPurchase" placeholder="Date of Purchase" value="@dop" />
            @Html.ValidationMessageFor(temp => temp.DateOfPurchase)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.AvailabilityStatus, new { @class = "form-check-label" })
            <div class="form-check">
                @Html.RadioButtonFor(temp => temp.AvailabilityStatus, "InStock", new { @class = "form-check-input", id = "InStock" })
                <label class="form-check-label" for="InStock">In Stock</label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(temp => temp.AvailabilityStatus, "OutOfStock", new { @class = "form-check-input", id = "OutOfStock" })
                <label class="form-check-label" for="OutOfStock">OutOfStock</label>
            </div>
            @Html.ValidationMessageFor(temp => temp.AvailabilityStatus)
        </div>
    </div>
    <div class="row g-3">
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.CategoryID)
            @Html.DropDownListFor(temp => temp.CategoryID, new SelectList(ViewBag.Categories, "CategoryID", "CategoryName"), "Please Select", new {@class="form-control"})
            @Html.ValidationMessageFor(temp => temp.CategoryID)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(temp => temp.BrandID)
            @Html.DropDownListFor(temp => temp.BrandID, new SelectList(ViewBag.Brands, "BrandID", "BrandName"),"Please Select", new {@class="form-control"})          
            @Html.ValidationMessageFor(temp => temp.BrandID)
        </div>
        <div class="form-group">
            <label for="Image">Image</label>
            <input type="file" class="form-control-file" id="Image" name="Photo" />
        </div>
        <div class="form-group">
            <div class="form-check">
                @Html.CheckBoxFor(temp => temp.Active , new {@class = "form-check-input", value ="true" })
                @Html.LabelFor(temp => temp.Active, new {@class = "form-check-label" })
            </div>
        </div>
    </div>

    @Html.ValidationSummary()

    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-danger" href="/admin/products/index">Cancel</a>
}
